<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/media/saryu-parivaar-logo.png?v=4">
  <title>Saryu Parivar - Terms & Conditions</title>
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class=" bg-[#ffecce]">

  <!-- dashboard -->
  <section class="wrapper">
    <div class="sidebar_wrapper" data-simplebar>
      <div class="simplebar-wrapper">
        <div class="simplebar-height-auto-observer-wrapper">
          <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
          <div class="simplebar-offset">
            <div class="simplebar-content-wrapper">
              <div class="simplebar-content mm-active">
                <div class="sidebar-header">
                  <div>
                    <img src="/media/saryu-parivaar-logo.png?v=4" class="logo w-36">
                  </div>
                  <div class="toggle-icon m-auto">
                    <i class="bx bx-arrow-to-left" id="btn"></i>
                  </div>
                </div>
                {% include 'includes/sidebar.html' %}
              </div>              
            </div>
          </div>
        </div>
        <div class="simplebar-placeholder"></div>
      </div>
      <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
      </div>
      <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="height: 83px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
      </div>
    </div>
    <header>
      <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
          <div class="search-bar flex-grow-1">
            <div class="position-relative search-bar-box">
              <!-- <input type="text" class="form-control search-control" placeholder="Type to search...">
              <span class="position-absolute top-50 search-show translate-middle-y">
                <i class="bx bx-search"></i>
              </span>
              <span class="position-absolute top-50 search-close translate-middle-y">
                <i class="bx bx-x"></i>
              </span> -->
            </div>
          </div>
          <div class="user-box dropdown">
            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{user_avatar}}" class="user-img" alt="user avatar">
              <div class="user-info ps-3">
                <p class="user-name mb-0">{{username}}</p>
                <!-- <p class="designattion mb-0">Web Designer</p> -->
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a href="{% url 'logout_user' %}" class="dropdown-item"><i class='bx bx-log-out-circle'></i> Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="page_wrapper">
      <div class="page-content">
        <div class="grid">
          <div class="mx-3 mb-3">
            <div class="banner-form bg-white">
              <form class="form-row bg-[#ffecceab] py-3 sm:px-5 px-3 items-center grid lg:grid-cols-5 md:grid-cols-2 sm:grid-cols-1" id="filter-form">
                {% csrf_token %}
                <div class="mx-3 lg:mb-0 mb-3">
                  <label for="gender" class="poppins">I'm looking for a</label>
                  <select id="gender" name="gender" class="w-full p-1.5 bg-transparent border-b-[1px] border-[#000] poppins focus-visible:outline-0">
                    {% for gender in genders %}
                      <option value="{{gender}}">{{gender}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mx-3 lg:mb-0 mb-3">
                  <label for="age_lower_limit" class="poppins">Aged</label>
                  <div class="flex items-center">
                    <select id="age-lower-limit" name="age_lower_limit" class="w-full p-1.5 bg-transparent border-b-[1px] border-[#000] poppins focus-visible:outline-0">
                      {% for age in ages %}
                        <option value="{{age}}">{{age}}</option>
                      {% endfor %}
                    </select>
                    <div class="mx-2">to</div>
                    <select id="age-upper-limit" name="age_upper_limit" class="w-full p-1.5 bg-transparent border-b-[1px] border-[#000] poppins focus-visible:outline-0">
                      {% for age in ages %}
                        <option value="{{age}}">{{age}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="mx-3 lg:mb-0 mb-3">
                  <label for="district" class="poppins">Location</label>
                  <select id="district" name="district" class="w-full p-1.5 bg-transparent border-b-[1px] border-[#000] poppins focus-visible:outline-0">
                    {% for district in districts %}
                        <option value="{{district}}">{{district}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mx-3 lg:mb-0 mb-3">
                  <label for="education" class="poppins">Education</label>
                  <select id="education" name="education" class="w-full p-1.5 bg-transparent border-b-[1px] border-[#000] poppins focus-visible:outline-0">
                    {% for education in educations %}
                        <option value="{{education}}">{{education}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-0">
                  <button type="button" class="border-solid border-[1px] border-[#f97718] py-2.5 px-5 rounded-3xl bg-[#f97718] text-[#fff] poppins hover:bg-transparent hover:text-[#f97718] transition ease-in-out" id="filter-button">Let's Begin</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2" id="profile-list">
          {% for profile in profiles %}
            <div class="mx-3 mb-3">
              <div class="grid lg:grid-cols-3 grid-cols-1 items-center bg-white p-2">
                <div class="mx-3">
                  <img src="{{profile.marriage_profile_pic.url}}" class="img-fluid w-full m-auto border-2 p-2 mb-2">
                  <h3 class="font-medium poppins me-2 text-center">{{profile.first_name}} {{profile.last_name}}</h3>
                </div>
                <div class="mx-3 col-span-2">
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Father:</h3>
                    <span class="poppins w-1/2">{{profile.father_name}}</span>
                  </div>
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Education:</h3>
                    <span class="poppins w-1/2">{{profile.education}}</span>
                  </div>                
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Height:</h3>
                    <span class="poppins w-1/2">{{profile.height_feet}}`{{profile.height_inches}}</span>
                  </div>                
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Color:</h3>
                    <span class="poppins w-1/2">{{profile.color}}</span>
                  </div>
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Age</h3>
                    <span class="poppins w-1/2">{{profile.age}}</span>
                  </div>
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Place of Birth:</h3>
                    <span class="poppins w-1/2">{{profile.native_village}}</span>
                  </div>
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Gotra:</h3>
                    <span class="poppins w-1/2">{{profile.gotra}}</span>
                  </div>
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Gender:</h3>
                    <span class="poppins w-1/2">{{profile.gender}}</span>
                  </div>
                  <!-- <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Occupation:</h3>
                    <span class="poppins w-1/2">{{</span>
                  </div>
                  <div class="flex mb-2 items-center">
                    <h3 class="font-medium poppins me-2 w-1/2">Annual Income:</h3>
                    <span class="poppins w-1/2">Annual Income</span>
                  </div>  -->
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <footer class="bg-black py-2 text-white poppins">
      <p class="text-center">Copyright &copy; 2024 Saryu Parivar. All Rights Reserved.</p>
      <p class="text-center mb-0">Proudly designed and developed by Eagle in Cloud</p>
    </footer>
  </section>
  <!-- end of dashboard --> 
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script>
    const button = document.getElementById('filter-button');
    const form = document.getElementById('filter-form');
    const profileList = document.getElementById('profile-list');
    // console.log(button)
    // console.log(form)
    // console.log(profileList)

    button.addEventListener('click', async () => {
        const formData = new FormData(form);

        // Send POST request to filter profiles
        const response = await fetch(window.location.href, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        });

        // Get the JSON response
        const data = await response.json();
        const profiles = data.profiles;

        // Update the profile list
        profileList.innerHTML = ''; // Clear current profiles
        profiles.forEach((profile) => {
          const profileCard = `
                <div class="mx-3 mb-3">
                    <div class="grid lg:grid-cols-3 grid-cols-1 items-center bg-white p-2">
                        <div class="mx-3">
                            <img src="${profile.marriage_profile_pic}" class="img-fluid w-full m-auto border-2 p-2 mb-2">
                            <h3 class="font-medium poppins me-2 text-center">${profile.first_name} ${profile.last_name}</h3>
                        </div>
                        <div class="mx-3 col-span-2">
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Father:</h3>
                                <span class="poppins w-1/2">${profile.father_name}</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Education:</h3>
                                <span class="poppins w-1/2">${profile.education}</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Height:</h3>
                                <span class="poppins w-1/2">${profile.height_feet}'${profile.height_inches}"</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Color:</h3>
                                <span class="poppins w-1/2">${profile.color}</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Age:</h3>
                                <span class="poppins w-1/2">${profile.age}</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Place of Birth:</h3>
                                <span class="poppins w-1/2">${profile.native_village}</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Gotra:</h3>
                                <span class="poppins w-1/2">${profile.gotra}</span>
                            </div>
                            <div class="flex mb-2 items-center">
                                <h3 class="font-medium poppins me-2 w-1/2">Gender:</h3>
                                <span class="poppins w-1/2">${profile.gender}</span>
                            </div>
                        </div>
                    </div>
                </div>
            `;
            profileList.insertAdjacentHTML('beforeend', profileCard);
        });
    });
  </script>
</body>
</html>